* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background-color: #f2f5f9;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111729;
}
.card {
  background-color: white;
  display: flex;
  border-radius: 1em;
  flex-direction: column;
  width: 420px;
}
.card-image {
  width: 100%;
}
.card-upper {
  padding: 2em;
  h2 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0.5em;
  }
  h4 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #677489;
  }
}
.card-bottom {
  border-top: 2px solid #f2f5f9;
  padding: 2em;
  display: flex;
  align-items: center;
  gap: 1em;
  img {
    width: 50px;
    border-radius: 50%;
    border: 5px solid #f2f5f9;
  }
  div {
    font-family: "Lato", sans-serif;
    .avatar-name {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 2px;
    }
    .avatar-title {
      font-size: 0.9em;
      color: #677489;
    }
  }
}
